{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="login">
{% if form.non_field_errors %}
<div class="error corner-all"> 
{{ form.non_field_errors }}
</div>
{% endif %}
<form id="loginForm" method= "post" action="{% url 'django.contrib.auth.views.login' %}" >
{% csrf_token %}
<div class="block">
	{% if form.username.errors %}
	<div class="error corner-all">{{ form.username.errors }}</div>
	{% endif %}
	<div class="label">{{ form.username.label_tag }}</div>
	<div>{{ form.username }}</div>
</div>
<div class="block">	
	{% if form.password.errors %}
	<div class="error corner-all">{{ form.password.errors }}</div>
	{% endif %}
	
	<div class="label">{{ form.password.label_tag }} </div>
	<div>{{ form.password }} </div>
</div>

<div class="block">	
	<input type="submit" value="Login" class="button"/>
	<input type="hidden" name="next" value= "{{ next }}" />
</div>
</form>
</div>
{% endblock %}