<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>{% block page_title %}Vinyl Records{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript">

	$(document).ready(function() {
		$('.lang_select').change(function() {
			var lang_url = '/vinyl/lang/' + $(this).val();
			jQuery.ajax({
				url: lang_url,
				success: function(){
					location.reload();
			  	}
			});
		});
	});
</script>
</head>
{% load i18n %}
{% get_current_language as CURRENT_LANG_CODE %}
<body>

	<div id="container">
		<div id="header">
			<div id="rightsubheader">
				<div style="float:right;">
				| <select class="lang_select"><option
						value="en" {% if CURRENT_LANG_CODE == 'en' %}  selected	{% endif %}>English</option>
					<option value="fr" {% if CURRENT_LANG_CODE == 'fr' %}  selected	{% endif %}>Francais</option>
				</select>
				</div>
				<div style="float:right;">
				{% if user.is_authenticated %}
					{% trans "Welcome" %}, {{ user.username }}! | <a href="/accounts/logout/">{% trans "Logout" %}</a>
				{% else %}
					<a href="/accounts/register/">{% trans "Register" %}</a> | <a href="/accounts/login/">{% trans "Login" %}</a>
				{% endif %}
				</div>
				
			</div>

			<div id="logo">
			
				<img src="{{STATIC_URL}}images/logo.gif" height="100" />
			</div>
		</div>
		<div id="wrapper">
			<div id="content">
				{% block content %}
					
				{% endblock %}
			</div>
		</div>
		<div id="navigation">
			<br />
			<form id="searchForm" method="post" action="">
			  <div><input id="search" name="search" type="text"></input>
				<input type="button" value="Search" class="myButton"/>
				</div>
			</form>
			<br/>
			<p class="menu community"><a href="">{% trans "Community" %}</a>
			</p>
		</div>
		{% if user.is_authenticated %}
		<div id="extra">

			<p class="menu myProfile"><a href="">{% trans "My Profile" %}</a></p>
			<p class="menu myLibrary"><a href="">{% trans "My Library" %}</a></p>
		</div>
		{% endif %}
		<div id="footer">
			<p>Footer</p>
		</div>
	</div>

</body>
</html>
