<div class="paginator">
   {% if has_previous %}
      <span class="page">
      <a href="?page={{ previous }}&{{ additional_params }}">&laquo; Prev</a>
      </span>
   {% endif %}

   {% if show_first %}
      <span class="page"><a href="?page=1&{{ additional_params }}">1</a></span>
      <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in page_numbers %}
      {% ifequal linkpage page %}
         <strong>{{ page }}</strong>
      {% else %}
         <span class="page"><a href="?page={{ linkpage }}&{{ additional_params }}"
               >{{ linkpage }}</a></span>
      {% endifequal %}
   {% endfor %}
   {% if show_last %}
      <span class="ellipsis">...</span>
      <span class="page"><a href="?page=last&{{ additional_params }}">{{ pages }}</a></span>
   {% endif %}
   {% if has_next %}
      <span class="page"><a href="?page={{ next }}&{{ additional_params }}">Next &raquo;</a></span>
   {% endif %}
</div>