{% extends "base.html" %}
{% block content %}
	<ul id="tabs">
		<li>
			<a href="{% url adbproject.vinyl.views.playlists 'all' %}" 
				  {% if ptype == "all" %} class="active" {% endif %}><span>All Playlists</span> </a>
		</li>
		<li>
			<a href="{% url adbproject.vinyl.views.playlists 'my' %}"
				 {% if ptype == 'my' %} class="active" {% endif %}><span>My Published</span> </a>
		</li>
		<li><a href="{% url adbproject.vinyl.views.playlists 'myshared' %}"
			 {% if ptype == 'myshared' %} class="active" {% endif %}><span>My Shared</span> </a></li>
		<li><a href="{% url adbproject.vinyl.views.playlists 'sharedwm' %}"
			 {% if ptype == 'sharedwm' %} class="active" {% endif %}><span>Shared with me</span> </a></li>
	</ul>
{% load tablesorter %}

<br/>
<br/>
{% if is_paginated %}
{% load paginator %}
{% paginator 10 %}
{% endif %}
<table>
	<thead>
		<tr>
			{% table_header headers %}
			<!-- <th>Playlist</th>
			<th>Created by</th>
			<th>Created on</th>
			<th># of Records</th> -->
			<!-- <th>Last Updated on</th> -->
			<th></th>
		</tr>
	</thead>
	<tbody>
	<!--  works for my playlists and all playlists. TODO modify for my shared and shared with me -->
{% for playlist in object_list %}
		<tr>
			<td><a href="{% url adbproject.vinyl.views.playlist_details playlist.id %}">{{ playlist.list_name|escape }}</a></td>
			<td>{{ playlist.created_by.username|escape }}</td>
			<td>{{ playlist.created_on }}</td>
			<td>{{ playlist.num_records }}</td>
			<!-- <td>{{ playlist.last_updated}}</td> -->
			<td>
				{% if playlist.created_by.id == user.id %}
				<a href="{% url adbproject.vinyl.views.edit_playlist playlist.id  %}" class="button buttonlink">Edit</a> &nbsp;
				<a href="" class="button buttonlink">Delete</a>
				<!-- <input type="button" value="Edit" class="button"/> &nbsp;<input type="button" value="Delete" class="button"/> -->
				{% endif %}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}