{% extends "base.html" %}
{% block content %}
<div id="tabs">
	<ul>
		<li {% if ptype == 'all' %} class="current" {% endif %}>
			<a href="/vinyl/playlists/all"><span>All Playlists</span> </a>
		</li>
		<li {% if ptype == 'my' %} class="current" {% endif %}>
			<a href="/vinyl/playlists/my"><span>My Published</span> </a>
		</li>
		<li><a href="/vinyl/playlists/sharedwm"><span>My Shared</span> </a></li>
		<li><a href="/vinyl/playlists/myshared"><span>Shared with me</span> </a></li>
	</ul>
</div>
<br/>
<br/>
{% if is_paginated %}
{% load paginator %}
{% paginator 10 %}
{% endif %}
<table>
	<thead>
		<tr>
			<th>Playlist</th>
			<th>Created by</th>
			<th>Created on</th>
			<th># of Records</th>
			<!-- <th>Last Updated on</th> -->
			<th></th>
		</tr>
	</thead>
	<tbody>
	<!--  works for my playlists and all playlists. TODO modify for my shared and shared with me -->
{% for playlist in object_list %}
		<tr>
			<td>{{ playlist.list_name }}</td>
			<td>{{ playlist.created_by.username }}</td>
			<td>{{ playlist.created_on }}</td>
			<td>{{ playlist.playlistItem_set.count }}</td>
			<!-- <td>{{ playlist.last_updated}}</td> -->
			<td><input type="button" value="Edit" class="button"/> &nbsp;<input type="button" value="Delete" class="button"/></td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}