{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="details-title">{{ record.title}} 
	<a href="{% url adbproject.vinyl.views.edit_record record.id  %}" class="class-link">[Edit]</a>
</div>
<div class="rec-details">
<table id="details">
	<tr>
		<td class="label">{% trans "Artist" %}</td>
		<td>{{record.artist.name}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Featuring" %}</td> <!-- Needs correction in the table -->
		<td>{{record.disc_size}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Producer" %}</td>
		<td>{{record.producer}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Genre" %}</td>
		<td>{{record.genre.genre_name}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Cateogry" %}</td>
		<td>{{record.category.name}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Disc Size" %}</td>
		<td>{{record.disc_size}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Matrix Number" %}</td>
		<td>{{record.matrix_number}}</td>
	</tr>
	<tr>
		<td class="label">{% trans "Press Info" %}</td>
		<td>{{record.press_info}}</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td class="label">{% trans "Rating" %}</td>
		<td> Stars here (Average {{ rating.avg_rating }} out of 5)</td>
	</tr>
</table>

<br/>
<div class="details-title">Tracks<span><a class="class-link" href="javascript:;" onclick="$('#add_track_div').toggle()">Add Tracks</a></span>
<div id="add_track_div" style="display:none;">
<div>Search for existing tracks, or add new tracks using <a href='/vinyl/track/new/{{record.id}}/'>this</a> link. The new track will automatically be linked with this record.</div>
<div id="add_track_error_div">
</div>
<form id="add_track_to_record_form" method="post" action="">
{% csrf_token %}
{{recordtrack_form.as_p}}

<input type="hidden" id="add_track_record_id" name="record" value="{{ record.id }}" />
<input type="submit" id="add_track_submit" value="Add Soundtrack" />
<input type="hidden" name="next" value= "{{ next }}" />
</form>


</div>
</div>

<table>
<thead>
	<tr>
		<th></th>
		<th>{% trans "Title" %}</th>
		<th>{% trans "Artist" %}</th>
		<th>{% trans "Genre" %}</th>
		<th>{% trans "Playing Time" %}</th>
		<th>{% trans "Release Date" %}</th>
		<th>{% trans "Edit" %}</th>
		<th>{% trans "Delete" %}</th>
	</tr>
</thead>
<tbody>
{% for row in data %}
	<tr>
		<td></td>
		<td>{{row.recordtrack.track.title}}</td>
		<td>{{row.artists}}</td>
		<td>{{row.recordtrack.track.genre.genre_name}}</td>
		<td>{{row.recordtrack.track.playing_time}}</td>
		<td>{{row.recordtrack.track.release_date }}</td>
		<td><a href="{%url edit_track_url track_id=row.recordtrack.track.id %}">{% trans "Edit" %}</a></td>
		<td><a href="{%url delete_track_url track_id=row.recordtrack.track.id record_id=record.id%}">{% trans "Delete" %}</a></td>
	</tr> 
{% endfor %}
</tbody>
</table>
<br/>
<div class="comments-panel">
<div><strong>{% trans "Comments" %}</strong></div>
	{% for comment in comments %}
	<div class="comment">
		<div class="commenter">{{ comment.commentor.username}} - {{ comment.commented_on }}</div>
		<div class="comment-text">{{ comment.comment}}</div>
	</div>
	{% endfor %}
</div>
</div>
{% endblock %}